.sideNav {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  border-right: none;
  border-bottom: 1px solid #d0d7de;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  z-index: 2;
}

.sideNav p {
  cursor: pointer;
  color: #1a73e8;
  transition: color 0.2s;
}

.sideNav p:hover {
  color: #0b51c5;
}
